In [1]:
import numpy as np
import pandas as pd

import boto3
import re

import sagemaker
from sagemaker import get_execution_role
from sklearn.preprocessing import LabelEncoder
from sagemaker.predictor import csv_serializer

In [31]:
df = pd.read_csv('IRIS.csv')

In [36]:
# View the dataset
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [37]:
cols = df.columns.tolist()

In [38]:
cols = cols[-1:] + cols[:-1]

In [39]:
df = df[cols]

In [40]:
df.head(20)

        species  sepal_length  sepal_width  petal_length  petal_width
0   Iris-setosa           5.1          3.5           1.4          0.2
1   Iris-setosa           4.9          3.0           1.4          0.2
2   Iris-setosa           4.7          3.2           1.3          0.2
3   Iris-setosa           4.6          3.1           1.5          0.2
4   Iris-setosa           5.0          3.6           1.4          0.2
5   Iris-setosa           5.4          3.9           1.7          0.4
6   Iris-setosa           4.6          3.4           1.4          0.3
7   Iris-setosa           5.0          3.4           1.5          0.2
8   Iris-setosa           4.4          2.9           1.4          0.2
9   Iris-setosa           4.9          3.1           1.5          0.1
10  Iris-setosa           5.4          3.7           1.5          0.2
11  Iris-setosa           4.8          3.4           1.6          0.2
12  Iris-setosa           4.8          3.0           1.4          0.1
13  Iris-setosa           4.3          3.0           1.1          0.1
14  Iris-setosa           5.8          4.0           1.2          0.2
15  Iris-setosa           5.7          4.4           1.5          0.4
16  Iris-setosa           5.4          3.9           1.3          0.4
17  Iris-setosa           5.1          3.5           1.4          0.3
18  Iris-setosa           5.7          3.8           1.7          0.3
19  Iris-setosa           5.1          3.8           1.5          0.3

In [41]:
# Encoding categorical data values
labelencoder_Y = LabelEncoder()
df['species'] = labelencoder_Y.fit_transform(df['species'])

In [42]:
df['species']

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
120    2
121    2
122    2
123    2
124    2
125    2
126    2
127    2
128    2
129    2
130    2
131    2
132    2
133    2
134    2
135    2
136    2
137    2
138    2
139    2
140    2
141    2
142    2
143    2
144    2
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [43]:
train_data, validation_data, test_data = np.split(df.sample(frac=1, random_state=1729), [int(0.7 * len(df)), int(0.9 * len(df))])

In [44]:
df.shape

(150, 5)

In [45]:
train_data.shape

(105, 5)

In [46]:
validation_data.shape

(30, 5)

In [47]:
test_data.shape

(15, 5)

In [50]:
train_data.to_csv('train.csv', header=False, index=False)
validation_data.to_csv('validation.csv', header=False, index=False)
test_data.to_csv('test.csv', header=False, index=False)